.customControl {
  height: 32px !important;
  border: 1px solid #d9d9d9 !important;
}
.customReadOnlyControls {
  height: 32px !important;
  background-color: transparent !important;
  border: 0 !important;
}
.total {
  padding: 5.5px 0;
}
.btnCustom {
  text-decoration: none !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
  padding-left: 0 !important;
}